* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 10px;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(131, 250, 238);
    margin-top: -20px;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

/* Header */

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    background-color: rgb(131, 250, 238);
    padding-top: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 55vw;
    height: 80px;
}

.logo > img {
    max-height: 70px;
    padding-left: 70px;
}

#nav-bar {  
    font-weight: 400px;
}

#nav-bar ul {
    width: 42vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.9rem;
}

.nav-link {
    color: black;
    text-decoration: none;
}


/* form */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 200px;
    margin-top: 100px;
}

#hero > h2 {
    margin-bottom: 15px;
    word-wrap: break-word;
}

#hero input[type="email"] {
    width: 275px;
    height: 30px;

    text-align: center;
    margin-bottom: 15px;

    display: block;
}

#hero input[type="submit"] {
    width: 175px;
    height: 32px;
    margin: 0 auto;
    display: block;

    font-size: 1.9rem;
    font-weight: 700;
    padding: 5px;
    border: none;
    background-color: orange;
}

/* Features */

#features {
    margin: 5px 40px;
}

.feature-limit {
    list-style: none;
}

.feature-element {
    margin-bottom: 15px;
}

/* video */

#video-section  {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* subscriptions */

#subscriptions {
    margin-top: 55px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}

.sub-box {
    width: 200px;
    height: 250px;
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sub-box div {
    background-color: rgb(246, 195, 100);
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-box h2 {
    font-size: 3rem;
}

.sub-box ul {
    list-style: none;
}

.sub-box input {
    width: 100px;
    height: 35px;
    background-color: rgb(189, 132, 26);
    margin-bottom: 10px;
}

/* medias */

@media (max-width: 650px) {

    /* header */

    header {
        flex-wrap: wrap;
    }

    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }

    #nav-bar {
        margin-top: 10px;
        width: 100vw;
    }
    
    #nav-bar ul {
        flex-direction: column;
        align-items: center;
        margin: auto;
        font-size: 1.7rem;
    }

    /* form */

    #hero {
        margin-top: 200px;
    }

    /* subs */
    
    #subscriptions {
        flex-direction: column;
        align-items: center;
    }

    .sub-box {
        margin-bottom: 20px;
        width: 300px;
    }
}

@media (max-width: 700px) {
    #nav-bar ul {
        flex-direction: column;
        align-items: center;
    }
}